###############################################################################
# Python bytecode, cache and compiled files
###############################################################################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

###############################################################################
# Virtual environment directories
###############################################################################
env/
venv/
ENV/
env.bak/
venv.bak/

###############################################################################
# Distribution / packaging directories and files
###############################################################################
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

###############################################################################
# Installer logs
###############################################################################
pip-log.txt
pip-delete-this-directory.txt
logs/

###############################################################################
# Unit test / coverage reports
###############################################################################
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

###############################################################################
# PyInstaller
###############################################################################
# PyInstaller generates a .spec file when packaging your app.
*.spec

###############################################################################
# Jupyter Notebook checkpoints
###############################################################################
.ipynb_checkpoints

###############################################################################
# Python version management
###############################################################################
# If you're using pyenv, the following file stores the Python version.
.python-version

###############################################################################
# Static type checking caches
###############################################################################
# mypy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker cache
.pyre/

###############################################################################
# IDEs and editors
###############################################################################
.vscode/
.idea/

###############################################################################
# Operating system files
###############################################################################
# MacOS
.DS_Store

# Windows
Thumbs.db
